.container_contact_footer {
  background-color: var(--verified-black);
  margin: 0;
}

/* contact form*/
.container_contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  padding: 2rem 1rem 0rem 1rem;
  margin: 0 1rem;
  border-bottom: 1px solid var(--snow-white);
  background-color: var(--verified-black);
}

.container_contact p {
  padding-top: 0;
  margin-top: 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 7rem;
}

input[type='text'],
input[type='text']:placeholder-shown,
textarea[type='text'],
textarea[type='text']:placeholder-shown {
  appearance: none;
  outline: none;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background: var(--verified-black);
  width: 100%;
  padding-block: 1rem;
  padding-inline: 1.5rem;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.625;
  color: var(--snow-white);
  margin-bottom: 0.75rem;
  border-bottom: 1px solid var(--snow-white);
}

textarea {
  height: 7rem;
}

.container_contact button {
  margin-top: 2rem;
  border: none;
  background: transparent;
  text-align: right;
}

.error {
  display: block;
  width: 100%;
  height: 2rem;
  margin: 0 0;
  padding-left: 1.5rem;
  text-align: left;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.5rem;
  align-items: center;
  color: var(--grapefruit-pulp);
}

input:valid,
textarea.valid {
  border-bottom: 1px solid var(--mint-jelly);
  background: var(--verified-black);
  color: var(--snow-white);
}
input.invalid,
textarea.invalid {
  border-bottom: 1px solid var(--grapefruit-pulp);
  background: transparent;
}
.input-container {
  position: relative;
}

.input-container span > svg {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.input-container > input {
  margin-right: 3rem;
}
.input-container * > svg {
  currentcolor: var(--grapefruit-pulp);
  stroke: var(--grapefruit-pulp);
  fill: var(--grapefruit-pulp);
}

#addRing3 {
  width: 50vw;
  height: 0;
  /* TO-DO => this is the issue, crop this  */
}
#addRing3 svg.rings {
  position: relative;
  object-fit: cover;
  left: -24rem;
  top: -15.5rem;
}

@media (min-width: 600px) {
  .container_contact {
    margin-top: 3.3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }
  .container_contact h2,
  .container_contact p,
  .container_contact form {
    width: 445px;
  }

  #addRing3 svg.rings {
    position: relative;
    object-fit: cover;
    left: -22rem;
    top: -10rem;
  }
}

@media only screen and (min-width: 1025px) {
  .container_contact {
    width: 100vw;
    margin: 0;
    padding: 5rem 10rem 5rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: none;
    /* align-items: center; */
  }

  .containter_contact_text {
    width: 445px;
    height: 327px;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
  }

  .container_contact form {
    height: 327px;
  }

  .container_contact form * {
    width: 445px;
  }

  #addRing3{
    /* top: 0;
    left: 0; */
    width: 0 !important;
    /* height: 0; */
  }
  #addRing3 svg.rings {
   
    left: -15rem;
    top: -12rem;
  }
}
