.container_contact_footer {
  background-color: var(--verified-black);
  margin: 0;
}
.container_contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  padding: 2rem 1rem 0;
  margin: 0 1rem 4rem;
  border-bottom: 0.063rem solid var(--snow-white);
  background-color: var(--verified-black);
}
.container_contact p {
  padding-top: 0;
  margin-top: 0;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 7rem;
}
input[type='text'],
input[type='text']:placeholder-shown,
textarea[type='text'],
textarea[type='text']:placeholder-shown {
  appearance: none;
  outline: none;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background: var(--verified-black);
  width: 100%;
  padding-block: 1rem;
  padding-inline: 1.5rem;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.625;
  color: var(--snow-white);
  margin-bottom: 1rem;
  border-bottom: 0.063rem solid var(--snow-white);
  border-style: hidden hidden groove;
}
textarea {
  height: 7rem;
}
.container_contact button {
  width: 100%;
  margin-top: 2rem;
  border: none;
  background: transparent;
  text-align: right;
}
.error {
  display: block;
  width: 100%;
  margin: 0;
  padding-left: 1.5rem;
  text-align: left;
  font-weight: 500;
  font-size: 0.8rem;
  align-items: center;
  color: var(--grapefruit-pulp);
}
.error_icon {
  position: relative;
  padding: 0.25rem 0.75rem;
  color: var(--grapefruit-pulp);
  border: 0.25px solid var(--grapefruit-pulp);
  border-radius: 50%;
  bottom: 2.5rem;
  left: 40%;
}
input:valid,
textarea.valid {
  border-bottom: 0.063rem solid var(--mint-jelly);
  background: var(--verified-black);
  color: var(--snow-white);
}
input.invalid,
textarea.invalid {
  border-bottom: 0.063rem solid var(--grapefruit-pulp);
  background: transparent;
  margin-bottom: 0;
}

.input_container.input {
  position: relative;
  top: 0;
  right: 0;
  height: 6rem;
}
.textarea_container {
  position: relative;
  top: 0;
  right: 0;
  height: 7rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.textarea_container > .error_icon {
  position: relative;
  bottom: 6.5rem;
  left: 40%;
}

#addRing3 {
  /* TO-DO => switch id selector */
  width: 50vw;
  height: 0;
  /* TO-DO => this is the issue, crop this  */
}
#addRing3 svg.rings {
  /* TO-DO => switch id selector */
  position: relative;
  object-fit: cover;
  left: -24rem;
  top: -15.5rem;
}
@media (min-width: 37.5em) {
  .container_contact {
    margin-top: 3.3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }

  .container_contact p,
  .container_contact form {
    width: 27.8rem;
  }

  .container_contact p {
    padding-top: 2rem;
  }
  #addRing3 svg.rings {
    /* TO-DO => switch id selector */
    position: relative;
    object-fit: cover;
    left: -22rem;
    top: -10rem;
  }
}
@media only screen and (min-width: 64em) {
  .container_contact {
    width: 100vw;
    margin: 0 0 4rem 0;
    padding: 5rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: none;
  }
  .containter_contact_text {
    width: 27.8rem;
    height: 20.4rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
  }
  .container_contact form {
    height: 20.4rem;
  }
  .container_contact form * {
    width: 27.8rem;
  }
  #addRing3 {
    /* TO-DO => switch id selector */
    width: 0 !important;
  }
  #addRing3 svg.rings {
    /* TO-DO => switch id selector */
    left: -15rem;
    top: -12rem;
  }
}
