#addRing2 {
  /* TO-DO => switch id selector */
  height: 2rem;
}
#addRing2 svg.rings {
  /* TO-DO => switch id selector */
  position: relative;
  object-fit: cover;
  width: 50vw;
  left: 8rem;
  bottom: 4rem;
}
.container_projects {
  width: 21.4rem;
  margin: 1rem;
  padding: 0;
}
.title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
#projects {
  /* TO-DO => switch id selector */
  text-align: left;
  margin: 0 0 4rem;
  padding: 0;
}
.project_image {
  height: 16rem;
  width: 21.5rem;
}
.project_details {
  width: 100%;
  margin-bottom: 4rem;
}
.project_tools_list {
  padding-inline-start: 0px;
  max-width: 21.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1.25rem;
}
.project_tools_list dt {
  max-width: 100%;
  padding-right: 1rem;
  font-weight: 400;
  font-size: 1.12rem;
  line-height: 1.75rem;
  color: var(--silver-shadow);
  text-transform: uppercase;
}
.project_links_list > a {
  padding-right: 2rem;
  text-transform: uppercase;
  text-underline-offset: 1rem;
  text-decoration-thickness: 2px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.12rem;
}
@media (min-width: 37.5em) {
  .container_projects {
    width: 100vw;
    padding: 2rem 2rem 0;
  }
  #addRing2 svg.rings {
    /* TO-DO => switch id selector */
    width: 40vw;
    left: 14.5rem;
    bottom: 4rem;
  }
  .title {
    height: 4rem;
    margin-bottom: 4rem;
  }
  #projects {
    /* TO-DO => switch id selector */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  .project_details {
    width: 21.375rem;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 4rem;
  }
  .project_details h4 {
    min-height: 3rem;
    margin-bottom: 01rem;
  }
  .project_tools_list {
    margin-bottom: 2rem;
  }
}
@media only screen and (min-width: 64em) {
  .container_projects {
    padding: 0 10rem;
    transition: all 250ms ease-in-out;
  }
  .title {
    height: 4rem;
    margin-bottom: 5rem;
  }
  .project_details {
    width: 34.125rem;
    height: 34.125rem;
    margin-bottom: 2rem;
  }

  .project_details:hover > img{
    filter: opacity(0.3);
  }

  .project_details h4,
  .project_tools_list {
    margin: 1rem 0 0;
  }
  .project_tools_list {
    margin: 0 0 1rem;
    width: 60%;
  }
  .project_details:hover .project_links_list {
    display: inline-block;
    width: 34.125rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;  }
  .project_links_list {
    position: relative;
    top: -27rem;
    display: none;
  }
  .project_links_list a {
    margin: 2rem;
  }
  .project_image {
    height: 25rem;
    width: 100%;
  }
}
